.eslintcache

# dependencies
node_modules/

# build outputs
dist/
dist-electron/
out/
release/
tmp/
**/bin/
**/obj/

# env / secrets
.env
.env.*
.env.local
.codex/
.impeccable.md
*.pem
*.key
*.pfx
*.p12
*.cer
*.crt
*.kdbx
*.jks
*.keystore
*.ovpn
*.db
*.sqlite
*.sqlite3

# editor
.vscode/
.idea/
.vs/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# logs
*.log*

# temporary config backups
electron.vite.config.*.mjs
