.eslintcache

# dependencies
node_modules/

# build outputs
dist/
dist-electron/
out/
release/
tmp/
**/bin/
**/obj/

# env / secrets
.env
.env.local
.codex/

# editor
.vscode/
.idea/
.vs/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# logs
*.log*

# temporary config backups
electron.vite.config.*.mjs
